<main>
    <h1>Hola, Bienvenidos al chat</h1>
    <div>
        <input type="text" name="chatBox" id="chatBox">
    </div>
    <div>
        <ul id="messageLog"></ul>
    </div>
</main>

<script src="../public/Chat.js"></script>